spring:
  profiles:
    active: prod

---
spring:
  profiles: dev
  config:
    location:
server:
  port: 8083
jobs:
  scheduled:
    cron: 0/10 * * * * ?

---
spring:
  profiles: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.192.5:3306/springbatch
    username: root
    password: 123456
    schema: classpath:/org/springframework/batch/core/schema-mysql.sql
  batch:
    initialize-schema: always
    job:
      names: EODJob,myListenerJob,myParameterJob,simpleViewJob,itemReaderFromDBJob,itemReaderFromFileJob,itemReaderFromXMLJob,itemReaderMultipleFileJob,restartDemoJob,simpleViewWriterJob  #批量任务入口
server:
  port: 8084
jobs:
  scheduled:
    cron: 0/10 * * * * ?