spring:
  profiles:
    active: prod

---
spring:
  profiles: dev
  config:
    location:
server:
  port: 8083
jobs:
  scheduled:
    cron: 0/10 * * * * ?

---
spring:
  profiles: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.192.5:3306/springbatch
    username: root
    password: 123456
    schema: classpath:/org/springframework/batch/core/schema-mysql.sql
    type: com.alibaba.druid.pool.DruidDataSource
    #数据源其他配置
    tomcat:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 6000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: select 1 from dual
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      poolPreparedStatements: true
      #配置监控统计拦截的fillters
      filters: stat,wall,log4j
      maxPoolPreparedStatementPerConnectionSize: 20
      useGlobalDataSourceStat: true
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
  batch:
    initialize-schema: always
    job:
      names: EODJob,myListenerJob,myParameterJob,simpleViewJob,itemReaderFromDBJob,itemReaderFromFileJob,itemReaderFromXMLJob,itemReaderMultipleFileJob,restartDemoJob,simpleViewWriterJob,itemWriterToDBJob,itemWriterToFileJob,itemWriterToXMLJob,itemWriterToMultipleFileJob12,itemProcessorToFileJob,itemExceptionJob,itemExceptionSkipJob1  #批量任务入口
      enabled: false
  redis:
    host: 192.168.192.5
    port: 6379
server:
  port: 8084
jobs:
  scheduled:
    cron: 0/10 * * * * ?
mybatis:
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml